{% extends 'base.html.twig' %}

{% block body %}
<main class="tarif">
    <section class="tarif-intro"> 
        <h1 class="tarif-title">Résumé du pack choisi</h1>
        </div>
    </section>
    <section class="tarif-section">  
        <div class="container mx-auto">
            <div class="tarif-left">
                <h2 class="tarif-section-title">Nom: {{ pack.name }}</h2>
                <h4>Prix: {{ pack.price }} €</h4>
                <p>Le pack {{ pack.name }} vous permet d'utiliser le calculateur {{ pack.quantity }} fois.</p> 
                <p>Le calculateur vous délivrera la liste exhaustive des matériaux nécessaires à la réalisation de la structure que vous avez choisie 
                à l'écran et sous un format PDF téléchargeable.
                </p>
            </div>
            <div class="tarif-right">
            <div class="prix-cube pack d-flex flex-column text-center py-5">
                    <form action="{{ path('app_account_payment', {'packId': pack.id}) }}" method="POST">
                    <button type="submit">Checkout avec Stripe</button>
                    </form>
            </div>
            </div>
        </div>
    </section>
</main>
    
{% endblock %}
    